@charset "utf-8";
/* CSS Document */
/*===========================header============================*/
header .box1{
	height: 44px;
	background: #fff;
}
header .box2{
	height: 45px;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
	background: #fff;
	position: relative;
}

header .box1 ul li a {
	width: 60px;
	height: 44px;
	display: block;
	line-height: 44px;
	text-align: center;
}
header .box1 .car{
	width: 90px;
	height: 44px;
}
header .box1 .car img{
	margin-top: 12px;
	float: left;
}
header .box1 .car p{
	line-height: 44px;
}
header .box1 .car p span{
	color: #f00;
}
header #logo a{
	width: 250px;
	height: 88px;
	margin: 0 auto;
	background: url(../img/logo.jpg);
	position: absolute;
	left: 50%;
	margin-left: -125px;
	margin-top: -42px;
	z-index: 100;
}
/*===========================二级菜单开始============================*/
header .box2 div.dingzhi{
	width: 815px;
	height: 525px;
	background: #fff;
	position: absolute;
	left: 35%;
	top: 102%;
	display: none;
	z-index: 200;
}
header .box2 div.dingzhi .dingzhi1{
	height: 93px;
    border-bottom: 1px solid #f1f1f1;
    background:url(../img/diagonalMaskWhiteBg.gif) repeat center center #E5E5E5;
}
header .box2 div.dingzhi div.last{
	height: 62px;
}
header .box2 div.dingzhi div.last a{
	line-height: 62px;
	height: 62px;
	width: 815px;
	text-align: center;
	font-size: 16px;
	border-top: 1px solid #f1f1f1;
}
header .box2 div.dingzhi .dingzhi2{
	width: 815px;
	height: 44px;
}
header .box2 div.dingzhi .dingzhi3{
	height: 30px;
}
header .box2 div.dingzhi .dingzhi4{
	height: 50px;
}
header .box2 div.dingzhi .ff{
	height: 44px;
}
header .box2 div.dingzhi .dingzhi4 ul li a{
	display: block;
	height: 18px;
	border-radius: 50px;
	margin-left: 14px;
	margin-top: 6px;
}
header .box2 div.dingzhi .dingzhi4 ul li a.first{
	display: block;
	height: 30px;
	width: 80px;
	line-height: 30px;
	margin-top: 14px;
}
header .box2 div.dingzhi .dingzhi4 ul li a.first span{
	display: inline-block;
	width: 5px;
	height: 9px;
	background: url(../img/icon3.png) no-repeat;
}
header .box2 div.dingzhi .dingzhi3 ul li a{
	display: block;
	height: 18px;
	width: 18px;
	border-radius: 50px;
	margin-left: 14px;
	margin-top: 6px;
}
header .box2 div.dingzhi .dingzhi3 ul li a.first{
	display: block;
	height: 30px;
	width: 80px;
	line-height: 30px;
	margin-top: 0px;
}
header .box2 div.dingzhi .dingzhi3 ul li a.first span{
	display: inline-block;
	width: 5px;
	height: 9px;
	background: url(../img/icon3.png) no-repeat;
}
header .box2 div.dingzhi .dingzhi2 a{
	font-size: 14px;
	margin-left: 20px;
	text-align: center;
	line-height: 44px;
	color: #00cbcc;
}
header .box2 div.dingzhi .dingzhi2 a.first{
	margin-left: 55px;
}
header .box2 div.dingzhi .dingzhi2 a:hover{
	color: #fff;
	background: #00cbcc;
}
header .box2 div.dingzhi .dingzhi1 a{
	width: 203px;
	height: 93px;
    display: block;
    float: left;
}
header .box2 div.dingzhi .dingzhi1 a .diyi{
	font-size: 18px;
	text-align: center;
	color: #f3142b;
	margin-top: 20px;
}
header .box2 div.dingzhi .dingzhi1 a .diyi1{
	color: #78DD00;
}
header .box2 div.dingzhi .dingzhi1 a .diyi2{
	color: #ff6c00;
}
header .box2 div.dingzhi .dingzhi1 a .diyi3{
	color: #ff48b4;
}
header .box2 div.dingzhi .dingzhi1 a .dier{
	font-size: 16px;
	text-align: center;
}
header .box2 div.dingzhi .dingzhi1 a.fr1:hover{
	color: #f3142b;
}
header .box2 div.dingzhi .dingzhi1 a.fr2:hover{
	color: #78DD00;
}
header .box2 div.dingzhi .dingzhi1 a.fr3:hover{
	color: #ff6c00;
}
header .box2 div.dingzhi .dingzhi1 a.fr4:hover{
	color: #ff48b4;
}
/*===========================二级菜单完结============================*/
header .box2 ul{
	line-height: 45px;
}
header .box2 ul li{
	padding: 0 20px;
	border-right:1px solid#f0f0f0 ;
}
header .box2 ul li.first{
	border-left:1px solid#f0f0f0 ;
}
header .box2 ul li.search{
	background: url(../img/search.png) no-repeat 215px 15px;
	width: 200px;
	height: 42px;
	cursor: pointer;
}
header .box2 ul li.home{
	background: url(../img/home.png) no-repeat 25px 15px;
	width: 20px;
	height: 44px;
	cursor: pointer;
}
/*========================main==========================*/
main .register{
	height: 600px;
	background: #fff;
	margin-top: 3px;
	position: relative;
}
main .register{
	
}

/*==========================================*/
main .zuihou{
	height: 850px;
	background: #fff;
	margin-top: 250px;
}
main .box5{
	height: 350px;
}
main .box3 .sheji a{
	display: block;
	width: 160px;
	height: 68px;
	margin-left: 23px;
	margin-bottom: 30px;
}
main .box3 .sheji a img{
	display: block;
	width: 160px;
	height: 68px;
}
main .dogya{
	height: 10px;
	background: url(../img/footer_bg.gif);
}
main .foot{
	height: 250px;
	margin-top: 100px;
	position: relative;
}
main .foot ul{
	margin-left: 100px;
}
main .foot ul li{
	margin-top: 5px;
}
main .foot ul li.dada a{
	font-size: 20px;
    color: #06c7d3;
}
main .foot ul.hua{
	margin-left: 150px;
}
main .foot ul li a.xinlang{
	background: url(../img/share.png) no-repeat;
	height: 30px;
	display: block;
	line-height: 30px;
}
main .foot ul li a.tngxun{
	background: url(../img/share.png) no-repeat 0 -40px;
	height: 30px;
	display: block;
	line-height: 30px;
}
main .foot ul li a.douban{
	background: url(../img/share.png) no-repeat 0 -80px;
	height: 30px;
	display: block;
	line-height: 30px;
}
main .foot ul li a.renren{
	background: url(../img/share.png) no-repeat 0 -120px;
	height: 30px;
	display: block;
	line-height: 30px;
}
main .foot ul li a.wowsai{
	background: url(../img/share.png) no-repeat 0 -160px;
	height: 30px;
	display: block;
	line-height: 30px;
}
main .foot img.ewm{
	position: absolute;
	left: 51%;
	top: 7%;
	display: none;
}
main .foot img{
	padding-left: 100px;
}
/*===========================footer==================*/
main .footer{
	background: #07c7d3;
	height: 366px;
}
main .footer h2{
	font-weight: 100;
	text-align: center;
    font-size: 27px;
    color: #fff;
    line-height: 135px;
}
main .footer .footer1{
	text-align: center;
}
main .footer .footer1 a{
	color: #fff;
}
main .footer .footer1 p{
	color: #fff;
	margin-top: 10px;
	margin-bottom: 20px;
}
main .fix{
	position: fixed;
	left: 90%;
	bottom: 15%;
}
main .fix span{
	display: block;
	width: 56px;
	height: 56px;
	overflow: hidden;
	background: url(../img/erweima.jpg) 0px 56px;
	z-index: 112;
}
main .fix span:hover{
	background: url(../img/erweima.jpg) 0px 0px;
	cursor: pointer;
}
main .fix>img{
	position: fixed;
	left: 68.5%;
	bottom: 24%;
	display: none;
}
main .fix a img{
	margin-top: 10px;
}
