@charset "UTF-8";
/* CSS Document */
/*=============样式重置=============*/
body, h1, h2, h3, h4, h5, h6, a, p, img, ul, ol, dl, dt, dd, input, figure, figcaption {
  padding: 0;
  margin: 0; }

header, nav, main, section, article, aside, footer, img, figure, figcaption {
  display: block; }

ul, ol {
  list-style: none; }

img, input, select {
  border: 0; }

input, select {
  outline: none;
  background: none; }

body {
  font-size: 12px;
  font-family: "微软雅黑";
  color: #3e3e3e; }

body, html, .swiper-container {
  height: 100%;
  width: 100%;
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: #333; }

a:hover {
  color: #fff;
  text-decoration: none;
  background: #fa9fa4; }

.l {
  float: left; }

.r {
  float: right; }

.w {
  width: 1200px;
  margin: 0 auto; }

/*=============公共样式=============*/
@keyframes up {
  0%, 30% {
    opacity: 0;
    transform: translate(0, 10px); }
  60% {
    opacity: 1;
    transform: translate(0, 0); }
  100% {
    opacity: 0;
    transform: translate(0, 0); } }
@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
/*===================main==========================*/
.music_12 {
  background: url("../images/music_off.png") no-repeat center center; }

.music {
  width: 60px;
  height: 60px;
  position: absolute;
  background-size: 30px 30px;
  right: 0;
  top: 0;
  z-index: 100; }
  .music .music_jay {
    width: 100%;
    height: 100%;
    background: url("../images/music_off.png") no-repeat center center;
    background-size: 30px 30px;
    position: absolute;
    animation: rotate 1.2s linear infinite; }
  .music img {
    width: 60px;
    height: 60px; }

.swiper-container .swiper-wrapper .swiper-slide .box {
  height: 100%;
  width: 100%; }
  .swiper-container .swiper-wrapper .swiper-slide .box .box1_1 {
    width: 75px;
    height: 70px;
    position: absolute;
    bottom: 10px;
    z-index: 1000;
    left: 39%;
    animation: up 1.5s infinite ease-in-out; }
.swiper-container .swiper-wrapper .swiper-slide .box1 {
  background: url("../images/424a0fff7923955a.png") no-repeat;
  background-size: cover;
  transform-origin: center top 0px;
  transform: translateY(0px);
  transition: all 0.6s linear 0s;
  position: relative; }
  .swiper-container .swiper-wrapper .swiper-slide .box1 img {
    width: 100%;
    position: absolute; }
.swiper-container .swiper-wrapper .swiper-slide .box2 {
  background-color: #fff;
  transform-origin: center top 0px;
  transform: translateY(0px);
  transition: all 0.6s linear 0s;
  position: relative; }
  .swiper-container .swiper-wrapper .swiper-slide .box2 img {
    width: 100%;
    position: absolute; }
  .swiper-container .swiper-wrapper .swiper-slide .box2 .daily {
    position: absolute;
    top: 70%; }
    .swiper-container .swiper-wrapper .swiper-slide .box2 .daily p {
      font-size: 16px;
      margin-left: 10%;
      margin-right: 10%;
      color: #000000;
      margin-top: 10px; }
    .swiper-container .swiper-wrapper .swiper-slide .box2 .daily b {
      color: #e95412;
      font-size: 20px;
      margin-left: 10%;
      margin-bottom: 20px; }
.swiper-container .swiper-wrapper .swiper-slide .box3 {
  background: url("../images/e18f4f7db3096a43.jpg") no-repeat;
  background-size: cover;
  transform-origin: center top 0px;
  transform: translateY(0px);
  transition: all 0.6s linear 0s;
  position: relative; }
  .swiper-container .swiper-wrapper .swiper-slide .box3 img {
    width: 100%;
    position: absolute; }
.swiper-container .swiper-wrapper .swiper-slide .box4 {
  background: url("../images/44b5b74181108a8d.jpg") no-repeat;
  background-size: cover;
  transform-origin: center top 0px;
  transform: translateY(0px);
  transition: all 0.6s linear 0s;
  position: relative; }
  .swiper-container .swiper-wrapper .swiper-slide .box4 img {
    width: 100%;
    position: absolute; }
.swiper-container .swiper-wrapper .swiper-slide .box5 {
  background: url("../images/d929e8d0e6b5d9c2.jpg") no-repeat;
  background-size: cover;
  transform-origin: center top 0px;
  transform: translateY(0px);
  transition: all 0.6s linear 0s;
  position: relative; }
  .swiper-container .swiper-wrapper .swiper-slide .box5 img {
    width: 100%;
    position: absolute; }
.swiper-container .swiper-wrapper .swiper-slide .box6 {
  background: url("../images/1271b9881e74b4eb.jpg") no-repeat;
  background-size: cover;
  transform-origin: center top 0px;
  transform: translateY(0px);
  transition: all 0.6s linear 0s;
  position: relative; }
  .swiper-container .swiper-wrapper .swiper-slide .box6 img {
    width: 100%;
    position: absolute; }
  .swiper-container .swiper-wrapper .swiper-slide .box6 p {
    color: #fff;
    font-size: 16px;
    position: absolute; }
.swiper-container .swiper-wrapper .swiper-slide .box7 {
  background: url("../images/9d0d2a5008fc9ea2.png") no-repeat;
  background-size: cover;
  transform-origin: center top 0px;
  transform: translateY(0px);
  transition: all 0.6s linear 0s;
  position: relative; }
  .swiper-container .swiper-wrapper .swiper-slide .box7 img {
    width: 100%;
    position: absolute; }
.swiper-container .swiper-wrapper .swiper-slide .box8 {
  background: url("../images/hah.jpg") no-repeat;
  background-size: cover;
  transform-origin: center top 0px;
  transform: translateY(0px);
  transition: all 0.6s linear 0s;
  position: relative; }
  .swiper-container .swiper-wrapper .swiper-slide .box8 img {
    width: 100%;
    position: absolute; }

/*# sourceMappingURL=style.css.map */
